/* TODO: media queries */

* {
    --background-color: #1d2234;
    --sidebar-color: #1b1e27;
    --main-text-color: #6e92ab;
    --faded-text-color: #6b8a9d;
    --smallest-text-color: rgba(106, 135, 154, 0.621);

    --keyword-color: rgb(254, 112, 181);
    --variable-color: #64b2ea;
    --method-color: rgb(145, 145, 237);
    --type-color: rgb(212, 197, 34);
    --highlight-color: rgb(123, 221, 250);
}

.keyword {
    color: var(--keyword-color, white);
}
.variable {
    color: var(--variable-color, white);
}
.method {
    color: var(--method-color, white);
}
.type {
    color: var(--type-color, white);
}
.highlight {
    color: var(--highlight-color, white);
}
.glow {
    color: white;
    text-shadow: var(--highlight-color, white) 0 0 0.25rem, var(--highlight-color, white) 0 0 0.5rem, var(--highlight-color, white) 0 0 0.75rem;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow-x: hidden; */
    overflow: hidden;
}

body {
    color: var(--main-text-color, white);
    display: grid;
    grid-template-columns: 1fr 4fr;
    line-height: 1.5;
    font-family: Consolas, 'Courier New', monospace;
}

/* https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_media_queries/Using_media_queries */
@media screen and (max-width: 480px) {
    body {
        display: block !important;
    }
    
    .sidebar {
        display: none !important;
        position: absolute !important;
        bottom: 0;
        left: 0;
        right: 0;
        padding-right: 4rem !important;
        font-size: 1.25rem;
        z-index: 1;
    }

    .content {
        padding-top: 3rem !important;
    }

    .menu {
        display: block !important;
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
    }
    .menu svg {
        height: 1.25rem;
        width: 1.25rem;
    }

    .close {
        display: block !important;
    }
}

a {
    color: inherit;
    text-decoration: none;
    font-weight: bold;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

img {
    width: 100%;
}

h1 {
    padding: 0;
    margin: 0;
}

svg {
    fill: currentColor;
    height: 1rem;
    width: 1rem;
}

.small {
    font-size: 0.75rem;
}

.close {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    display: none;
}
.close svg {
    height: 1.5rem;
    width: 1.5rem;
}

a:not(.sidebar a):hover {
    text-decoration: underline;
}

.content {
    background: linear-gradient(var(--background-color, #1E1E1E), #3b576b);
}

.menu {
    display: none;
}

.sidebar {
    display: flex;
    flex-direction: column;
    background-color: var(--sidebar-color, #252526);
    background: linear-gradient(var(--sidebar-color, #1E1E1E), #253b45);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-text-color, lightgrey);
    padding: 1.25rem;
    position: sticky;
    top: 0;
}

.sidebar, .sidebar button {
    letter-spacing: 0.05rem;
    text-align: start;
}

.sidebar .main-header button {
    font-weight: bold;
    width: 100%;
    color: #7da8c6;
}

.sidebar a {
    font-weight: lighter;
    display: inline-block;
    width: 100%;
}
.sidebar li:not(.target):hover { 
    backdrop-filter: brightness(1.75);
}
.sidebar li:not(.indented) {
    padding-left: 0.5rem;
}

.indented {
    padding-left: 1.5rem;
}

.content .indented {
    border-left-style: solid;
    border-color: var(--smallest-text-color, gray);
    border-width: 1px;
}

.overhead {
    position: fixed;
    background-color: var(--background-color, black);
    z-index: 1;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overhead img {
    transition: transform 0.1s ease-in-out;
    box-shadow: 0 0 30px 15px white;
}
.overhead img:hover {
    transform: scale(1.1);
}

.click-reminder {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    background-color: white;
    padding: 0.5rem;
    border-radius: 0 0 10px 10px;
    font-size: 0.75rem;
}

.link-button, .menu, .close {
    --webkit-appearance: none;
    background: none;
    color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    margin: 0;
    padding: 0;
}

.content {
    padding: 2rem;
    height: 100vh;
    overflow: auto;
}

.section-title {
    /* https://cssgradient.io/blog/css-gradient-text/ */
    font-size: 1.75rem;
    font-weight: bold;
    margin: 0.5rem 0;
    
    background: linear-gradient(45deg, #a8e2ff, #64b7ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section-body {
    padding-bottom: 1.5rem;
}

.footer-padding {
    height: 5rem;
}

.page-heading {
    display: inline;
    font-size: 3rem;
    margin: 0 0.75rem;
    line-height: 1.1em;
    word-break: break-all;

    color: white;
    text-shadow: var(--highlight-color, white) 0 0 0.25rem, var(--highlight-color, white) 0 0 0.5rem, var(--highlight-color, white) 0 0 0.75rem;    
}

.main-intro {
    display: flex;
    align-items: end;
}

.section {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.image-container {
    display: inline-flex;
    flex-direction: column;   
    width: fit-content;
    margin: 0 auto;
    align-content: center;
}

.center-image {
    width: 90%;
    max-width: 20rem; 
    align-self: center; 
    box-shadow: white 0 0 0.30rem 0.05rem, var(--highlight-color, white) 0 0 1rem 0.5rem;
    margin: 1rem;
}

.intro-top {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap-reverse;
    justify-content: stretch;
}

.intro-top .side-text {
    display: inline-block; 
    min-width: 47.5%;
}

.self-end {
    align-self: end;
}

.rounded-image {
    border-radius: 50%;
}

.drop-trigger .before svg {
    height: 0.75em;
    width: 0.75em;
}

.bubble {
    position: fixed;
    transform: translate(-50%,-50%);
    background-color: black;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    box-shadow: 0 0 0.75rem 0.75rem black;
}